@page
@model WebPortfolio.Pages.Shared.ContactModel
@{
    ViewData["Title"] = "Contact";
}

<h2 class="text-2xl font-bold mb-4">Contact Me</h2>

<p class="text-gray-700">Feel free to reach out via email or connect on LinkedIn:</p>

<ul class="mt-4 space-y-2 text-blue-600">
    <li>Email: <a href="mailto:m.irfandeni@email.com" class="hover:underline">yourname@email.com</a></li>
    <li>LinkedIn: <a href="https://www.linkedin.com/in/muhammad-irfan-deni-b18688260/" class="hover:underline">linkedin.com/in/yourprofile</a></li>
    <li>GitHub: <a href="https://github.com/c4bbage64" class="hover:underline">github.com/c4bbage64</a></li>
</ul>